<app-header></app-header>
<div class="content">
    <h1 class="line">¡Bienvenido al curso de HTML, CSS y JavaScript!</h1>
    <p>Aquí inicia tu viaje al fascinante mundo de la programación web, aprendiendo las bases. Prepárate para aprender paso a paso, diviértete y ¡éxito en tu aprendizaje!</p>
    <h1 class="line">--------------------------------------------------------------------------------------</h1>
  
    <h2 class="subtitle">¿Qué es HTML?</h2>
    <p class="instrucciones">
      HTML (HyperText Markup Language) es el lenguaje de marcado utilizado para estructurar el contenido en la web. Permite crear elementos como títulos, párrafos, imágenes y enlaces.
    </p>
    <ul class="instrucciones">
      <li class="listas"><code>&lt;h1&gt;&lt;/h1&gt;</code>: Títulos principales.</li>
      <li class="listas"><code>&lt;p&gt;&lt;/p&gt;</code>: Párrafos.</li>
      <li class="listas"><code>&lt;a href="url"&gt;&lt;/a&gt;</code>: Enlaces.</li>
      <li class="listas"><code>&lt;img src="url" alt="texto"&gt;</code>: Imágenes.</li>
    </ul>
  
    <h2 class="subtitle">¿Qué es CSS?</h2>
    <p class="instrucciones">
      CSS (Cascading Style Sheets) es el lenguaje utilizado para estilizar el contenido HTML. Permite controlar colores, fuentes, espaciados y diseños responsivos.
    </p>
    <ul class="instrucciones">
      <li class="listas">Colores: <code>color: red;</code></li>
      <li class="listas">Fuentes: <code>font-family: Arial;</code></li>
      <li class="listas">Margen: <code>margin: 10px;</code></li>
      <li class="listas">Diseños: <code>display: flex;</code></li>
    </ul>
  
    <h2 class="subtitle">¿Qué es JavaScript?</h2>
    <p class="instrucciones">
      JavaScript es un lenguaje de programación que permite agregar interactividad a las páginas web, como botones funcionales, animaciones y validaciones de formularios.
    </p>
    <ul class="instrucciones">
      <li class="listas">Alertas: <code>alert('¡Hola mundo!');</code></li>
      <li class="listas">Eventos: <code>document.getElementById('boton').addEventListener('click', funcion);</code></li>
      <li class="listas">Manipulación DOM: <code>document.querySelector('h1').innerText = 'Nuevo título';</code></li>
    </ul>
  
    <h1 class="line">--------------------------------------------------------------------------------------</h1>
  
    <h2 class="subtitle">¿Qué aprenderemos en este curso?</h2>
    <p class="instrucciones">
      En este curso, aprenderás a:
    </p>
    <ul class="instrucciones">
      <li class="listas">Crear estructuras HTML básicas y avanzadas.</li>
      <li class="listas">Aplicar estilos con CSS para crear diseños atractivos.</li>
      <li class="listas">Programar interacciones dinámicas con JavaScript.</li>
    </ul>
  
    <a (click)="sendNext($event)" class="next-course">Siguiente &gt;&gt;&gt;</a>
  </div>
  
<app-footer></app-footer>
  