.developers-novedades {
  position: relative;
  width: 100%;
  height: 500px;
  margin: auto;
  overflow: hidden;
  margin-bottom: 20px;
  background: linear-gradient(
    to left, 
    #1a1a2e,  
    #16213e, 
    #0f3460,  
    #0b0c10   
  );
}

.developers-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.developers-imagen {
  display: none; 
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 10;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
