<div class="terminal-ubuntu">
    <div class="head-terminar">
      <img src="Terminal/TuxTerminal.svg" alt="tux" class="tux-terminal" />
      <span class="terminal-title">Terminal ubuntu/EST SOFTWARE</span>
    </div>
  
    <!-- Salida de la terminal -->
    <div class="terminal-output">
      <div *ngFor="let line of outputLines" class="terminal-text">{{ line }}</div>
    </div>
  
    <!-- Contenedor de entrada de la terminal -->
    <div class="terminal-input-container">
      <!-- Prompt y campo de entrada para los comandos -->
      <span class="prompt">{{ currentPath }}$ </span>
      <input 
        [(ngModel)]="inputCommand" 
        (keydown.enter)="processCommand()" 
        type="text" 
        class="terminal-input" 
        autofocus 
      />
  
      <!-- Si estamos esperando la contraseña, mostrar un campo de entrada -->
      <div *ngIf="waitingForPassword">
        <input 
          [(ngModel)]="passwordInput" 
          (keydown.enter)="onPasswordInput($event)" 
          type="password" 
          class="password-input" 
          placeholder="[sudo] password for ubuntu:" 
          autofocus 
        />
      </div>
    </div>
  </div>
  