.terminal-ubuntu {
    background-color: black;
    color: #33ff33;
    font-family: 'Courier New', monospace;
    font-size: 16px;
    padding: 15px;
    width: 1200px;
    height: 600px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  .head-terminar {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .tux-terminal {
    height: 45px;
  }
  
  .terminal-title {
    font-size: 18px;
    color: #33ff33;
  }
  
  .terminal-output {
    flex-grow: 1;
    overflow-y: auto;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
  
  .terminal-text {
    margin: 2px 0;
  }
  
  .terminal-input-container {
    display: flex;
    align-items: center;
  }
  
  .prompt {
    color: #33ff33;
  }
  
  .terminal-input {
    background-color: transparent;
    color: #33ff33;
    border: none;
    outline: none;
    font-family: 'Courier New', monospace;
    font-size: 16px;
    flex-grow: 1;
  }
  
  .terminal-input:focus {
    border-bottom: 1px solid #33ff33;
  }
  
@media (max-width: 1024px) {
  .terminal-ubuntu {
      width: 90%; 
      height: 500px; 
  }

  .terminal-title {
      font-size: 16px; 
  }

  .tux-terminal {
      height: 20px;
  }
}

@media (max-width: 768px) {
  .terminal-ubuntu {
      width: 93%; 
      height: 400px;
  }

  .terminal-title {
      font-size: 14px; 
  }

  .tux-terminal {
      height: 18px; 
  }

  .terminal-output {
      font-size: 14px; 
  }
}

@media (max-width: 480px) {
  .terminal-ubuntu {
      width: 93%;
      height: 300px; 
  }

  .terminal-title {
      font-size: 12px; 
  }

  .tux-terminal {
      height: 15px; 
  }

  .terminal-output {
      font-size: 12px;
  }
}
